.home-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    padding: 0 0.16rem;
}
.home-header-left {
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    height: 100%;
}
.home-header-left .logo {
    width: 0.94rem;
    height: 0.94rem;
    margin-top: 0.06rem;
}
.home-header-main {
    margin-left: -0.13rem;
    padding-top: 0.09rem;
}
.home-header-title img {
    height: 0.5rem;
}

.grade {
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    width: 1.34rem;
    height: 0.5rem;
    border: 1px solid #ffe7a4;
    border-radius: 0.04rem;
}
.grade-left,
.grade-right {
    width: 50%;
    height: 100%;
    padding: 0.12rem 0;
    font-size: 0.24rem;
    text-align: center;
}
.grade-left {
    color: #000;
    background-color: #ffe7a4;
}
.grade-right {
    color: #ffe7a4;
}
.home-wrap {
    width: 7.2rem;
    height: 15.66rem;
    background: url(../images/main_bg.jpg) no-repeat;
    background-size: 100% 100%;
}
.top-wrap {
    height: 8.58rem;
    padding-top: 3.8rem;
    display: flex;
}
.btn-download,
.btn-googleplay-download,
.btn-recharge {
    display: inline-block;
    position: relative;
    width: 5.4rem;
    height: 1.5rem;
}
.logged{
    display: none;
}
.login-button {
    bottom: 0;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
    margin-top: 0.5rem;
    height: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: Center;
}

.btn-googleplay-download {
    background: url(../images/btn_googleplay.png) no-repeat;
    background-size: 100% 100%;
}
.btn-recharge {
    background: url(../images/btn_recharge.png) no-repeat;
    background-size: 100% 100%;
}

.buttons-wrap {
    width: 6.58rem;
    height: 3.72rem;
    margin: 0 auto;
    text-align: center;
    background-size: 100% 100%;
}
.buttons-wrap .btn {
    margin: 0 0.04rem;
}
.install-link {
    position: relative;
    display: inline-block;
    margin: 0.06rem 0.75rem 0 0;
    font-size: 0.3rem;
    color: #996c36;
}
.install-link img {
    width: 2.53rem;
}

.swiper-title {
    text-align: center;
    z-index: 1;
    position: absolute;
    width: 7.2rem;
    top: 8.9rem;
}
.swiper-title__img {
    width: 6.5rem;
}
.swiper {
    top: 9.68rem;
    width: 7.2rem;
    height: 3.5rem;
    background: url(../images/swiper/bg.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 0.15rem;
    position: absolute;
    z-index: 2;
}

.button img {
    width: 2.66rem;
    height: 0.98rem;
}

.swiper img {
    width: 6.5rem;
    height: 3.2rem;
}

.swiper-container {
    width: 6.5rem;
    border-radius: 0.64rem;
    overflow: hidden;
    height: 3.2rem;
}

.swiper-slide {
    text-align: center;
}

.swiper-pagination {
    left: 2.4rem;
    top: 4rem;
}

.swiper-pagination-bullet {
    width: 0.28rem;
    height: 0.28rem;
    background: url("../images/swiper/pagination.png") no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    margin-right: 0.2rem;
}

.swiper-pagination-bullet-active {
    background: url("../images/swiper/pagination-active.png") no-repeat;
    background-size: 100% 100%;
}
